.footer{
  background-color: #151594 !important;
}
footer a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}
.footer li {
  padding:0;
}

footer p{

  color: rgba(255, 255, 255, 0.55);
}
@media screen and (max-width: 420px) {

    footer a {

    font-size: 10px;
}
}
